@mixin border($color1, $color2) {
  border-width: 4px;
  border-style: solid;
  border-right-color: $color1;
  border-bottom-color: $color1;
  border-left-color: $color2;
  border-top-color: $color2;
}

$light_grey: #999;
$dark_grey: #7b7b7b;

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  @include border($light_grey, #fff);
  background: #c2c2c2;
  padding: 16px;
}

.Header {
  @include border(#fff, $dark_grey);
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .NumberDisplay {
    color: #ff0701;
    width: 80px;
    height: 52px;
    background: #000;
    text-align: center;
    font-size: 40px;
  }
}

.Body {
  @include border(#fff, $dark_grey);
  margin-top: 16px;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
}

.Face {
  @include border($light_grey, #fff);
  width: 48px;
  height: 48px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:active {
    @include border(#fff, $dark_grey);
  }
}

.Button {
  @include border($light_grey, #fff);
  align-items: center;
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  width: 30px;
  font-weight: bold;

  &:active {
    @include border(#fff, $dark_grey);
  }

  &.visible {
    border-color: #7b7b7b;
    border-width: 1px;
    width: 100%;
    height: 100%
  }

  &.red {
    background: red;
  }

  &.value-1 {
    color: blue;
  }

  &.value-2 {
    color: green;
  }

  &.value-3 {
    color: red;
  }

  &.value-4 {
    color: purple;
  }

  &.value-5 {
    color: maroon;
  }

  &.value-6 {
    color: turquoise;
  }

  &.value-7 {
    color: black;
  }

  &.value-8 {
    color: gray;
  }
}
